* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
  }
  .container {
    width: 85%;
    margin: 0 auto;
  }
  
  @media screen and (max-width: 650px) {
    .container {
      width: 95%;
    }
  }
  section {
    margin: 3rem 0;
  } 
.about {
    background: rgb(255, 255, 255);
    padding: 1rem;
  }
  
  .about .container {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
  }
  
  .about .container .about__container {
    margin-top: 1rem;
  }
  
  .about .container .about__container h3 {
    font-weight: 300;
    font-size: 2rem;
  }
  
  .about .container .about__container h1 {
    font-weight: 600;
    margin: 2rem 0;
  }
  
  .about .container .about__container p {
    font-weight: 300;
    margin-bottom: 4rem;
    line-height: 1.7;
  }
  
  .about .container .about__info {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
  
  .about .container .about__info .info {
    background:(
      linear,
      left top,
      left bottom,
    );
    background: linear-gradient(#93cbe5, #ffffff);
    border: 1px solid;
    padding: 2rem;
    border-radius: 15px;
  }
  
  .about .container .about__info .info .icon i {
    border: 1px solid;
    border-radius: 50%;
    font-size: 1.7rem;
    padding: 1rem;
    background-color: #ffffff;
    color: rgb(75, 78, 233);
  }
  
  .about .container .about__info .info h3 {
    font-weight: 500;
    margin-top: 1rem;
  }
  
  .about .container .about__info .info p {
    font-weight: 300;
    margin: 1rem;
  }
  
  @media screen and (max-width: 850px) {
    .about .container {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
    .about .container .about__container {
      text-align: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }
  
  @media screen and (max-width: 700px) {
    .about .container .about__info {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
  }
  a{
 
  }
  button {
    padding: 15px 25px;
    border: 1px solid;
    border-radius: 15px;
    background-color: rgb(247, 245, 243);
    transition: all 0.4s;
    cursor: pointer;
    color: blue;
    font-size: 1.3rem;
    transition: all 0.4s;
  }

  button:hover{
    transform: scale(1.02);
    border-radius: 40px;
    border: 2px solid white;
    background-color: blue;
    color: white;    
}